@import "styles.scss";

.home {
    margin-top: 55px;


    h2 {
        max-width: 300px;
    }

    &__categories {
        margin-top: 55px;
        display: grid;
        grid-template-columns: repeat(5, 5fr);
        column-gap: 25px;
        row-gap: 5px;

        .category {
            width: 100%;
            min-height: 175px;
            padding: 10px;
            display: flex;
            align-items: end;
            cursor: pointer;
            text-decoration: none;

            p {
                font-size: 30px;
                color: white;
            }

            &:hover {
                background-size: 150% !important;
            }
        }
    }

    &__preloader {
        margin-top: 55px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#preloader {
    animation: preloader 4s infinite;
    margin: 0 auto;
}
