@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$green: #A4B441;
$grey: #757575;
$black: #333333;

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

    a {
        text-decoration: none;
    }

    button {
        color: white;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $green;
        font-weight: 400;
        border: none;
        border-radius: 100px;
        cursor: pointer;
    }

    span {
        color: $green;
    }

    h1 {
        font-size: 38px;
        color: $black;
        font-weight: 400;
    }

    h2 {
        font-size: 26px;
        font-weight: 600;
        color: $black;
    }

    p {
        font-size: 18px;
        color: $grey;
        font-weight: 300;
    }

    h3 {
        font-size: 18px;
        color: $green;
        font-weight: 400;
    }

    section {
        min-height: calc(100vh - 257px);
        width: 100%;
        max-width: 1210px;
        margin: 0 auto;
    }
}

@keyframes preloader {
    12% {
        transform: rotate(-45deg);
    }

    24% {
        transform: rotate(-90deg);
    }

    36% {
        transform: rotate(-135deg);
    }

    48% {
        transform: rotate(-180deg);
    }

    60% {
        transform: rotate(-225deg);
    }

    78% {
        transform: rotate(-270deg);
    }

    90% {
        transform: rotate(-315deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
